.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
  z-index: 0;
}

.background-image > * {
  position: relative;
  z-index: 1;
}
